.facet-item {
  border: 2px solid #c4c4c4;
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datasets-total {
  float: left;
}

.menu {
  position: absolute;
  width: 100%;
  z-index: 1000;
  margin: 0.5rem auto;
  text-align: left;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.125);
}

.material-icons {
  vertical-align: middle;
}

.header-icon > .material-icons{
  position: absolute;
  top: 26%;
  left: -4%;
  opacity: 0.2;
  line-height: 0.5;
  z-index: 0;
}

.header-icon > .material-icons.md-24{
  font-size: 15rem;
}

.dataset-wrap.collapsed {
  border-color: #F2F2F2;
  border-width: 2px;
}

.dataset .title {
  margin-right: 2rem;
}

.dataset>.material-icons {
  position: absolute;
  right: 15px;
}

.dataset:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
}

.list-group-item .type,
.list-group-item .visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

@media (max-width: 768px) {
  .card-footer .list-group-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-footer .list-group-item .title {
    padding: 0 !important;
  }

  .card-footer .list-group-item .title,
  .card-footer .list-group-item .date {
    flex-basis: 100%;
  }

  .card-footer .list-group-item .date {
    margin: .5rem 0;
  }

  .list-group-item .type,
  .list-group-item .visibility {
    order: 5;
    flex: 0;
    margin-right: .5rem;
    justify-content: space-between;
  }
}

.list-group-item .title {
  flex: 3;
}

.list-group-item .date {
  flex: 1;
}

.list-group-facet .list-group-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
}

.list-search-facets {
  position: relative;
  z-index: 1;
}

.btn-close {
  padding: 0;
}

.btn-search {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  font-size:  1.25rem;
}

.btn-search:hover .material-icons  {
  color: #e6ad09;
}

.autocomplete-wrapper .btn-search:focus {
  box-shadow: none;
}

.autocomplete-wrapper {
  position: relative;
}

.btn-success,
.badge-primary,
.page-item.active .page-link {
  background-color:#e6ad09;
  border-color:#e6ad09;
}
.page-link {
  color:#e6ad09;
}
.text-primary {
  color:#e6ad09;
}